<!DOCTYPE html>
<html lang="en-us">
<head>

 	<meta charset="UTF-8">

	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">

	<meta name="author" content="Jason Sinn">

  	<title>InMotion Code Challenge</title>

  	<script
	  src="https://code.jquery.com/jquery-3.3.1.js"
	  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
	  crossorigin="anonymous"> 
	</script>
  
</head>

<body>

	<div id="app">
		<h1> InMotion Code Challenge </h1>
		<form action='' method='get'>
			Title:
			<input type='text' name='title'>
			<br>
			Genera:
			<input type='text' name='genera'>
			<br>
			Year:
			<input type='text' name='year'>
			<br>
			Rating:
			<input type='text' name='year'>
			<br>
			Actors:
			<input type='text' name='year'>
			<br>
			<input type='submit' value='Submit'>
		<form>
	</div>

</body>
</html>